.sapMInputBaseInner
/* Enter your custom styles here */


/* <--- SAP BASIC ---> */

.sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable {
    /* ----------> RESET BASE COLOURS */
    background-color: rgba(179, 179, 179, 0);
    border-color: rgba(179, 179, 179, 0);
}

.RandyImgBoxfirst {
    width: 12rem!important;
    padding-top: 20px;
}

.Randytalkboxfirst {
    padding-top: 80px;
}

.RandyImgBox {
    width: 12rem!important;
}

.tblstarend td {
    text-align: end;
}

.Randytalkbox {
    padding-top: 60px;
}


/* <--- STANDARD COMPONENTS ---> */

.headerfirstpage {
    background: #F6851F;
    height: 6rem;
    box-shadow: 0px 0px 0px 0px #CCC
}

.header {
    height: 4rem;
    background: #F6851F;
    box-shadow: 0px 0px 0px 0px #CCC
}

.soaLogoIMGSmall {
    height: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.headerimage {
    height: 4rem;
    padding: 1rem 1rem 1rem 2rem;
}


/*		<--- CONTENT AREA ---> */

.textStyle {
    /* style of the text */
    font-size: 2.5em;
    line-height: 2em;
    font-family: "Arial", "roboto";
}

.contentArea {
    height: auto;
}

.onboardingIMG {
    height: 300px;
    margin: 3rem 80% 0 20%;
}

.engineerIMG {
    height: 300px;
    margin: 3rem 80% 0 10%;
}

.speech-bubble {
    position: relative;
    background: #707070;
    color: #fff;
    font-family: "arial", "Helvetica", "roboto";
    line-height: 1.5em;
    border-radius: .4em;
    width: 400px;
    padding: 1.5rem;
    margin: -2rem 3rem 3rem 3rem;
    box-shadow: 0px 0px 0px 0px #CCC
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #707070;
    border-left: 0;
    border-bottom: 0;
    margin-top: 30px;
    margin-left: -20px;
}

.speech-bubble-send {
    position: relative;
    background: #707070;
    color: #fff;
    font-family: "Helvetica", "roboto";
    line-height: 1.5em;
    border-radius: .4em;
    width: 250px;
    padding: 1.5rem;
    margin: -2rem 3rem 3rem 3rem;
    box-shadow: 0px 0px 0px 0px #CCC
}

.speech-bubble-send:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #707070;
    border-left: 0;
    border-bottom: 0;
    margin-top: 0px;
    margin-left: -20px;
}

.speech-bubble-small {
    position: relative;
    background: #707070;
    color: #fff;
    font-family: "Arial", "roboto";
    line-height: 1.5em;
    border-radius: 5px;
    width: 400px;
    padding: 1.5rem;
    margin: -2rem 3rem 3rem 3rem;
    box-shadow: 0px 0px 0px 0px #CCC
}

.speech-bubble-small:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #707070;
    border-left: 0;
    border-bottom: 0;
    margin-top: 20px;
    margin-left: -20px;
}


/*		<--- NAVIGATION ---> */

.navigationArea {
    margin: 1rem 0 0 0;
    bottom: 0;
    width: 100%;
}

.sapMBtnInner {
    text-shadow: 0 0 0rem #ffffff;
}

.sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable {
    background: transparent;
    border-color: transparent;
}

.next {
    height: 3rem;
    width: 12rem;
    background: rgb(227, 135, 54);
    border: solid 0rem #403359;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #CCC;
    transition: ease-out .25s;
}

.next > .sapMBtnText {
    /* ----------> SET CHILD-TEXT DECORATION */
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    line-hight: 1.5em;
}

.next > .sapMBtnText > .sapMBtnIcon {
    /* ----------> SET CHILD-ICON DECORATION */
    color: #fff;
}

.next:hover {
    background: rgb(255, 146, 34);
    border: 0;
    box-shadow: inset 0px 0px 0px 0px #fff;
    transition: ease-in .25s;
}

.startbuttonbox {
    width: 12rem;
    height: 12rem;
}

.startbutton {
    position: relative;
    display: block;
    height: 10rem;
    width: 10rem;
    font-family: Arial, Helvetica;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border-radius: 100%;
    border: 2px solid #f5c294!important;
	background: rgb(227, 135, 54);
    cursor: pointer;
    box-shadow: 4px 4px 1px 1px #ccc;
    animation: pulse 1.5s infinite;
	transition: ease-out .25s;
}

@keyframes pulse {
    0% {
        /*box-shadow: 0rem 0rem 0rem 0rem #ccc;*/
       background: rgb(249, 123, 13); 
    }
    50% {
        /*box-shadow: 0rem 0rem 0rem 1rem #ccc;*/
        background: rgb(255, 172, 86);
    }
    100% {
        /*box-shadow: 0rem 0rem 0rem 0.75rem transparent;*/
    background: rgb(249, 123, 13);
    	
    }
}

.startbutton:hover {
    background: rgb(227, 135, 54);
    border: 0px solid #ccc;
	box-shadow: 2px 2px 1px 1px #ccc;
    animation: none; 
    transition: ease-in .25s;
   
}

.startbutton > .sapMBtnText {
    /* ----------> SET CHILD-TEXT DECORATION */
    color: #fff;
    font-size: 35px;
    font-family: arial, helvetica;
    line-hight: 1.5em;
}

.startbutton > .sapMBtnText > .sapMBtnIcon {
    /* ----------> SET CHILD-ICON DECORATION */
    color: #fff;
}


/* next btn in negative */

.nextNegative {
    height: 3rem;
    width: 12rem;
    background: #F6851F;
    border: solid 0rem #F6851F;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #333;
    transition: ease-out .25s;
    margin-top: 10px;
}

.nextNegative > .sapMBtnText {
    /* ----------> SET CHILD-TEXT DECORATION */
    color: #fff;
    font-size: 20px;
}

.nextNegative:hover {
    background: #f99a45;
    border: 0;
    box-shadow: inset 0px 0px 0px 0px #333;
    transition: ease-in .25s;
}

.previous {
    height: 3rem;
    width: 12rem;
    background: #BBB;
    border: solid 0.rem #C3BDCE;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #CCC;
    transition: ease-out .25s;
}

.previous > .sapMBtnText {
    /* ----------> SET CHILD-TEXT DECORATION */
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
    line-hight: 1.5em;
}

.previous > .sapMBtnText > .sapMBtnIcon {
    /* ----------> SET CHILD-ICON DECORATION */
    color: #FFF;
}

.previous:hover {
    background: #AAA;
    border: 0;
    box-shadow: inset 0px 0px 0px 0px #888;
    transition: ease-in .25s;
}


/* end btn */

span.sapMBtnInner.sapMBtnAccept {
    background-color: #F6851F;
    border-color: #F6851F!important;
    color: #fff;
    padding: 0 2rem;
}

.sapMIBar-CTX .sapMBtn:hover>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive) {
    background-color: #f99a45;
    border-color: #f99a45;
    color: #fff;
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: unset;
}


/*		<--- PROGRESS BAR ---> */

.progressContainer {
    margin-bottom: 3rem;
}

.sapMPI {
    /* ------------> SET containersize SAP PROGRESS BAR */
    height: 1rem;
}

.progressBar > .sapMPIBarRemaining {
    /* ----------> Progressbar to SAP-child */
    height: 1rem;
    background: #bbb;
    border: 0px solid #403359;
    border-radius: 0 1rem 1rem 0;
    box-shadow: inset 0px 0px 0px 0px #9B8AB6;
}

.progressBar > .sapMPIBar {
    height: 1rem;
    background: #404040;
    border: 0px solid #403359;
    border-radius: 1rem 0 0 1rem;
}


/* <--- LOGIN SCREEN ---> */


/*		<--- INFO ---> */

.information {
    background: linear-gradient(#F6851F, #FFB652);
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0px 0px 0px 0px #444;
    height: -webkit-fill-available;
    height: fill-available;

}

.soaLogoIMG,
.sapLogoIMG {
    padding: 1rem 3rem 1rem 1rem;
}

.infoTitle {
    font-family: "Arial", "roboto", "helvetica";
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.4em;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #fff;
    padding: 1rem 1rem 1rem 1rem;
}

.infoDescription {
    font-family: "ArialI", "roboto", "helvetica";
    font-size: 1.4em;
    line-height: 1.6em;
    text-decoration: bold;
    color: #fff;
    padding: 1rem 1rem 1rem 1rem;
}

.infoText {
    font-family: "Arial", "roboto", "helvetica";
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.3em;
    line-height: 1.6em;
    color: #fff;
}

.explanationText {
    font-family: "Arial", "roboto", "helvetica";
    padding: 3rem 1rem 1rem 1rem;
    font-size: 1.0em;
    line-height: 1.6em;
    color: #fff;
}

.extraInfo {
    display: block;
    color: #F6851F;
    background: #fff;
    height: 50px;
    width: 50px;
    border: 1px invisible #000;
    border-radius: 100%;
    margin: 2rem 50% 0 50%;
    box-shadow: 1px 1px 2px 1px #CCC;
}

.extraInfo:hover {
    display: block;
    color: #403359;
    background: #fff;
    box-shadow: inset 1px 1px 2px 1px #CCC
}

.footerbar {
    border-top: 3px solid rgba(153, 153, 151, 1) !important;
}

.footerbar2 {
    border-top: 0px solid rgba(153, 153, 151, 1) !important;
    background: transparent;
}

.footerbar > .sapContrast.sapMLnk,
.sapContrast .sapMLnk {
    color: #FFF!important;
    font-size: 12px !important;
    font-family: arial, helvetica !important;
}

.footerbar > .sapContrast.sapMLnk,
.sapContrast .sapMLnk:hover {
    color: #F6851F!important;
    text-decoration: none!important;
    transition: ease-in .5s!important;
}


/*		<--- FORM ---> */

.loginInfo {
    padding: 0rem 2rem 0rem 2rem;
    height: 100%;
}


/* questions */

.sapMListTbl .sapMLabel {
    font-size: 0.875rem;
    font-family: arial, helvetica;
    color: #333333;
    font-weight: normal;
}


/*   <---------- STAR STYLE -> Rating --------->  NOTE HARDCODED */

.sapMRIIconSel {
    color: #404040;
}

.sapMRIIconUnsel {
    color: #c3BDCE;
}

.sapMRIIconHov {
    color: #707070;
}

.tableStyle {
    background: #ccc;
    border: solid 0rem #fff;
}

.ratingLoc {
    margin-left: 2rem;
}

.sapMSLITitleDiv {
    background: #404040;
    width: 26rem;
    height: 3rem;
    margin: 2rem auto;
    border: solid 0.125rem #404040;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #CCC;
}

.sapMGrowingListTriggerText>.sapMSLITitle {
    color: #fff;
    font-size: 1.2em;
    line-height: 1em;
}

.setMiddle {
    text-align: center;
    display: inline-flex;
}

.noOpinionToggle {
    margin-left: 2rem;
    margin-top: 0.6rem;
}

.noOpinionToggle > .sapMBtnInner {
    width: 10rem;
    height: 3rem;
    padding-top: 0.3rem;
    font-size: 1.2em;
    color: #403359;
    /*border: 1px solid #6c5d86;*/
    background-color: #C3BDCE;
    box-shadow: 1px 1px 2px 1px #CCC
}

.sapMBtn:hover>.sapMBtnHoverable {
    /* checkey checkey */
    background: #FFb652;
    color: #fff;
}

.noOpinionToggle > html.sap-desktop .sapMToggleBtnPressed,
.noOpinionToggle > .sapMToggleBtnPressed:not(.sapMBtnDisabled) {
    background: #6c5d86;
}

.sapMBtn:hover>.sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive),
.sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover {
    background: #F6851F;
}


/* ------------------- Radio Buttons ---------------------------- */

.areaPos {
    margin-top: 3.4rem;
}

.sapMRbBLabel {
    margin: 1.2rem
}

.sapMRbG .sapMRbBLabel {
    padding-left: 6rem;
    font-size: 1.2em;
    line-height: 3rem;
}

.sapMRbB .sapMRbBOut {
    width: 3rem;
    height: 3rem;
    border: 0.25rem solid #bfbfbf;
    border-color: #403359;
    border-radius: 2rem;
    box-shadow: inset 1px 1px 2px 2px #CCC;
}

.sapMRbSel .sapMRbBInn {
    width: 1.5rem;
    height: 1.5rem;
    background: #404040;
    border: solid 2px #404040;
    box-shadow: 0px 1px 2px 2px #ccc;
}


/* ------------------- Selection Item ----------------- */

.numberRadioIcons .sapMRbBOut {
    border: .25rem solid #EEE;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 0 0;
}

.numberRadioIconContainer > .sapMRbSel .sapMRbBInn {
    display: none;
    box-shadow: 0 0 0 0;
}

.numberRadioIconContainer > .sapMRbSel .sapMRbBOut {
    border-color: #9B8AB6;
    box-shadow: 0 0 0 0;
    background: #9B8AB6;
}

.numberRadioIcons .sapMRbBInn {
    content: "1";
}


/*:nth-child(5n2)*/


/* ------------------- SEMANTIC BUTTON QUESTION ----------------- */

.questionView {
    width: 100%;
    text-align: center;
}

.sapUiVltCell:first-child {
    text-align: left;
    padding-bottom: 0rem;
}

.sapMSegB .sapMSegBBtn {
    /* sem btn normal */
    background: #C3BDCE;
    height: 3rem;
    width: 10rem;
    color: #403359;
    font-size: 1.2em;
    line-height: 2.5em;
    border-top: 1px solid #6c5d86;
    border-left: 1px solid #6c5d86;
    border-bottom: 1px solid #6c5d86;
    border-right: 1px solid transparent;
    box-shadow: 1px 1px 2px 1px #CCC
}

.sapMSegBBtn:last-child {
    border-right: 1px solid #6c5d86;
}

.sapMSegBBtn.sapMSegBBtnSel {
    /* sem btn selected */
    background: #6c5d86;
    color: #fff;
    height: 3rem;
    width: 10rem;
}

html.sap-desktop .sapMSegBBtnFocusable:hover {
    background: #FFb652;
}

html.sap-desktop .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel:hover {
    background: #F6851F;
}


/* ------------------- SAP FORM HARDSTYLING ------------ */

.sapMInput,
.sapMComboBox {
    /* ----------> CHILD IT */
    margin: 0.5rem 0 0.5rem 0;
}

.sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):focus {
    border-color: #707070;
}

.typeField,
.sapMInputBaseInner,
.sapMComboBox {
    /* ----------> CHILD IT */
    height: 2.5rem;
    color: #404040;
    background: #fff;
    border: solid 0.125rem #404040;
    border-radius: 5px;
    font-family: "Arial", "roboto";
    font-size: 1em;
    box-shadow: inset 0px 0px 0px 0px #CCC
}

.sapMInputBaseErrorInner {
    border: solid 0.125rem #ee0000;
}

.sapMInputDivWrapper {
    height: 2.5rem;
}

.sapMInputDivWrapper:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover {
    background: none;
}


/* ------------------- SAP COMBOBOX HARDSTYLING ------------ */

.sapMComboBoxBaseArrow {
    background: #403359;
}

.sapMComboBoxTextFieldArrow::before {
    color: #fff;
    font-size: 1.5em;
}

.legalCheck {
    padding-left: 2.5rem;
    margin: 1rem 2rem 1rem 0;
    max-width: 100%;
}

.checkAccept {
    margin: 1rem 2rem 1rem 0;
    max-width: 100%;
    height: 1rem;
}

.checkAccept > .sapMCbBg {
    /* ----------> adjust SAP child also to template style */
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
    font-size: 1.7em;
    line-height: 1em;
    border: solid 0.125rem #404040;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 0px #404040;
}

.checkAccept > .sapMCbBg.sapMCbMarkChecked::before {
    /* ----------> CHILD USED FOR CHECKER */
    color: #79c179;
    text-align: center;
    padding: 15% 20% 10% 20%;
}

.checkAcceptText {
    /* ----------> CHILD USED FOR CHECKER */
    color: #FFFFFF;
    margin-top: 1.7rem;
    padding-top: 0.0rem;
    word-wrap: inherit;
    text-overflow: ellipsis;
    white-space: normal;
}

.goToWebsiteText {
    /* ----------> CHILD USED FOR CHECKER */
    color: #FFFFFF;
    height: 60px;
    line-height: 4rem;
    margin-top: 0;
    padding-top: 0;
    word-wrap: inherit;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: normal;
    transition: ease-out .5s;
}

.sapMLnk:hover:not(.sapMLnkDsbl) {
    color: #F6851F;
    text-decoration: none!important;
    transition: ease-in .5s;
}

.legalCheck > .sapMCbBg {
    /* ----------> adjust SAP child also to template style */
    width: 35px;
    height: 35px;
    left: 1rem;
    top: 0;
    font-size: 2em;
    line-height: 1em;
    border: solid 0.125rem #403359;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px 1px #CCC;
}

.legalCheck > .sapMCbBg.sapMCbMarkChecked::before {
    /* ----------> CHILD USED FOR CHECKER */
    color: #79c179;
    text-align: center;
    /*    padding: 15% 20% 10% 20%; */
}

.legalCheckText {
    /* ----------> CHILD USED FOR CHECKER */
    color: #666666;
    margin-top: 0.8rem;
    padding-top: 0.2rem;
    text-decoration: underline;
    word-wrap: inherit;
    text-overflow: ellipsis;
    white-space: normal;
}

.startBenchmark {
    height: 60px;
    margin-left: 1rem;
    width: 90%;
    background: #403359;
    border: solid 0.125rem #403359;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2px 2px 4px 1px #CCC;
}

.startBenchmark > .sapMBtnText {
    /* ----------> SET CHILD-TEXT DECORATION */
    color: #fff;
    font-size: 1.5em;
}

.startBenchmark:hover {
    background: #F6851F;
    border: 0;
    box-shadow: inset 2px 1px 1px 1px #888;
}


/* DROPDOWN */


/* label field */

.sapMSlt {
    height: 48px;
    border: solid 0.125rem #403359;
    border-radius: 6px;
    font-family: "Arial", "roboto";
    font-size: 1em;
    box-shadow: inset 1px 1px 2px 1px #CCC;
}

.sapMSltHoverable:not(.sapMSltState):hover {
    border-color: #9B8AB6;
}

.sapMSltPressed>.sapMSltArrow {
    background-color: #9B8AB6;
}

.sapMSltPressed>.sapMSltArrow:hover {
    background-color: #6C5D86;
}

.sapMSltPressed:not(.sapMSltDisabled):not(.sapMSltState) {
    border-color: #9B8AB6;
    border-radius: 6px 6px 0 0;
    border-bottom: 0px;
}

div.sapMSltPicker {
    min-height: 3rem;
}

.sapMPopover .sapMPopoverCont {
    color: #403359;
}

.sapMPopover .sapMPopoverCont:hover {
    background-color: #C3BDCE;
}


/* selection */

.sapMSltArrow {
    font-size: 1.5rem;
    line-height: 2.75rem;
    color: #403359;
}

.sapMSltArrow:hover {
    background-color: #9B8AB6;
}

.sapMSltHoverable:not(.sapMSltPressed):hover>.sapMSltArrow {
    background-color: #9B8AB6;
}


/*		<--- Onboarding ROLE SELECTION ---> */

.questionTitle {
    display: block;
    max-width: 45rem;
    margin: 2rem;
    font-size: 1.2em;
    font-family: "Arial", "roboto";
    font-weight: bold;
}


/* |||||||||| SCORE DISPLAY |||||||||| */


/* score container */

.scoreContainer {
    background-color: #707070;
    top: -0.50rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    color: #fff;
}

.benchmarkScoreName {
    padding: .5rem;
    margin-right: .25rem;
    border-radius: 5px 5px 0px 0px;
    color: #403359;
}

.lastChild {
    margin-right: 0!important;
}

.scoreSelected {
    background-color: #707070;
    color: #fff;
    height: 20px;
}

.benchmarkScorePoints {
    background-color: #C3BDCE;
    max-height: 1.5rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: .2rem;
    color: #403359;
    box-shadow: inset 1px 1px 2px 1px #828282
}

.benchmarkScoreTitle {
    color: #fff;
    text-shadow: 0px 0px;
    font-size: 1.2rem;
    padding: .5rem 0;
}

.benchmarkScoreText {
    font-family: "Arial", "roboto";
    line-height: 1.5rem;
    color: #fff;
}

.benchmarkScoreText-provideemail {
    font-family: "Arial", "roboto";
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
}

.lightInput .sapMInputDivWrapper .sapMInputBaseInner {
    border: solid 0.125rem #404040;
    height: 2.5rem;
}


/*last button margin properties*/

.sapMFlexItemAlignAuto {
    min-height: 2rem;
}

.sapMShellBrandingBar {
    height: 0px;
}

.testjacco {
    padding-top: 10px;
}

.sapUiRootBackground,
.sapMShellGlobalOuterBackground {
    background: linear-gradient(to bottom, #707070, #e7ecf0);
    background-image: linear-gradient(rgb(112, 112, 112), rgb(231, 236, 240));
}